body {
  font-family: Arial, sans-serif;
  color: rgb(93, 91, 110);
  margin-left: 5vw;
}

h1 {
  font-size: 6vh;
  margin: 3vh;
  display: block;
}

#basket {
  height: 3vh;
}

/* #basket-label{
  
  font-size:3vh;
  cursor:pointer;
  margin:0.5vh;
} */

.right {
  justify-self: end;
  justify-content: right;
  width: 100%;
  text-align: right;
  padding-right: 3vw;
  display: flex;
}

.left {
  width: 100%;
  margin-left: 2vw;
  justify-self: start;
}

#basket {
  height: 4vh;
  margin-top: 2vh;
}

.basket-image {
  height: 80%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#basket-label {
  justify-self: end;
  font-size: 3vh;
  margin: 0;
  text-align: right;
  margin-left: 0.5vh;
  cursor: pointer;
}

.right {
  justify-self: end;
  justify-content: right;
  width: 100%;
  text-align: right;
  padding-right: 3vw;
  display: flex;
}

header {
  display: flex;
  width: 100%;
  height: 15vh;
}

img {
  height: 80vh;
}

#info {
  display: flex;
  width: 75vw;
  margin: 0 auto;
  text-align: center;
  margin: 3vh;
}
#card {
  height: 50vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 1vh;
  padding-right: 1vh;

  border-radius: 1vh;
  background-color: white;
  /* background-color: #e1f5c480; */
  /* background-color: #ede57480; */
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: 5vw;
}

h1 {
  font-size: 5vh;
  font-family: Arial, sans-serif;
  color: #3d3d53;
}
p {
  font-size: 4vh;
  color: #3d3d53;
  font-weight: 700;
}

#cartActionIcon {
  height: 8vh;

  grid-column: 1;
  margin: 0 auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  /* margin-left: 0; */
  cursor: pointer;
}

#cartActionDescription {
  grid-column: 2;
  font-size: 4vh;
  margin-left: 1vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  /* margin: auto; */
}

#addToBasket {
  display: grid;
  grid-template-columns: 20% 80%;
  text-align: left;
}

.basket-image {
  height: 80%;
}

#basket {
  height: 4vh;
  margin-top: 2vh;
}

#basket-label {
  justify-self: end;
  font-size: 3vh;
  margin: 0;
  margin-left: 0.5vh;
}

.right {
  justify-self: end;
  justify-content: right;
  width: 100%;
  text-align: right;
  padding-right: 3vw;
  display: flex;
}

#info {
  margin: 0 auto;
  margin-top: 5vh;
}

/* #image-box {
  background-color: white;
  padding: 0.5vh;
} */

#page-title {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #info {
    display: block;
    margin-top: 10vh;
  }
  img {
    width: 90%;
    height: auto;
  }

  #basket {
    height: 3vh;
    width: auto;
  }
}
