body {
  font-family: Arial, sans-serif;
  font-size: 3vh;
  color: rgb(93, 91, 110);
  background-image: linear-gradient(
    to right,
    rgba(219, 139, 93, 0.5),
    rgba(243, 227, 135, 0.5)
  );
}

main {
  display: flex;
  margin: 10vh;
}

img {
  padding: 2vh;
  width: 80%;
  height: auto;
  display: table-cell;
}

form {
  display: table;
}
input {
  display: table-cell;
  border-radius: 4px;
  width: 90%;
}

textarea {
  border-radius: 4px;
  width: 90%;
}
label {
  display: table-cell;
}

#container {
  padding: 5vh;
  background-color: rgb(248, 238, 209);
  border-radius: 10px;
  margin-right: 5vw;
}

#cart-contents {
  width: 50vw;
  display: table;
}

#image-box {
  width: 30%;
  height: auto;
  padding: 2vh;
  text-align: center;
}

#form-container {
  background-color: rgb(248, 238, 209);
  border-radius: 10px;
  padding: 3vh;
}

#submit {
  height: 8vh;
  width: 16vh;
  border-radius: 5px;
  background-color: rgb(231, 138, 76);
  font-size: 3vh;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  main {
    display: block;
  }

  #container {
    margin-bottom: 5vh;
  }
}
